html, body {
  background: $light-gray;
  margin: 0;
  color: $primary;
  font-family: Helvetica, Arial, sans-serif;
}

header {
  background: $white;
  border-bottom: 1px solid $gray;
  margin: 0;
  display: flex;

  a {
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 20px;

    .logo {
      margin: 0 40px;
      padding: 10px;
      color: $primary;

      &:hover {
        color: $ochre;
      }
    }
  }

  .navbar-right {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    padding: 10px;
    margin: 0 40px;
    align-items: center;

    a {
      color: $primary;
      margin-right: 15px;

      &:hover {
        text-decoration: underline;
      }
    }
    p {
      margin-right: 15px;
    }
  }
}

.container {
  background-color: $light-gray;
  max-width: 650px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 20px;
  display: block;
  text-align: center;
}

a.btn {
  background: white;
  padding: 15px;
  border-radius: 3px;
  border: 1px solid $primary;
  box-sizing: border-box;
  color: $primary;
  text-decoration: none;
  display: inline-block;

  &:hover {
    color: $ochre;
    border: 1px solid $ochre;
  }
}

.petpal {
  max-width: 650px;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}
